@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ec2026;
  --primary-gray: #b3b3b3;
  --secondary: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-geist-sans: var(--font-geist-sans);
  --font-manrope: var(--font-manrope);
  --color-primary: var(--primary);
  --color-primary-gray: var(--primary-gray);
  --color-secondary: var(--secondary);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
}

/* Global Container Class */
.tp-container {
  @apply mx-auto w-full container px-4;
}

.h1-type {
  @apply text-3xl md:text-[40px] md:leading-[55px] font-bold text-secondary;
}

.h4-type {
  @apply text-xl font-extrabold text-white;
}

.input-field {
  @apply w-full bg-gray-900 border border-gray-700 rounded-md p-4 outline-none text-white;
}
.input-field-primary {
  @apply w-full bg-[#FEFDFC] mt-4 rounded-md p-5 outline-none text-black text-xl font-extrabold placeholder:text-black placeholder:text-xl placeholder:font-extrabold;
}

.main-btn {
  @apply flex flex-row items-center gap-2 cursor-pointer rounded-md justify-center py-4 px-6 text-white font-bold text-base transition-all duration-300;
}
.primary-btn {
  @apply bg-primary hover:bg-secondary;
}
.secondary-btn {
  @apply bg-transparent border-2 border-white hover:border-primary hover:bg-primary hover:text-white;
}

.sub-title {
  @apply relative text-xl underline underline-offset-3 text-secondary font-extrabold tracking-wider
    before:content-[''] before:absolute before:-left-12 before:top-1/2 before:-translate-y-1/2 
    before:w-8 before:h-8 before:bg-[url('/img/sub-title.png')] before:bg-contain before:bg-no-repeat
    after:content-[''] after:absolute after:-right-12 after:top-1/2 after:-translate-y-1/2 
    after:w-8 after:h-8 after:bg-[url('/img/sub-title.png')] after:bg-contain after:bg-no-repeat;
}

.list-item {
  @apply mb-5 relative list-none before:absolute before:-left-10 before:top-0 before:w-7 before:h-7 before:bg-primary before:rounded-full before:flex before:items-center before:justify-center before:bg-[url('/check.svg')] before:bg-no-repeat before:bg-center before:bg-contain;
}

/* Embla Carousel Styles */
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
